<!DOCTYPE html>
<html>
  <head>
    <title>ToyApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>Toy App. Thanx to michael hartl <a href="https://www.railstutorial.org/book/frontmatter">from zero to deploy</a></h1>
    <%= yield %>
  </body>
</html>
